@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-0;
}

::-webkit-scrollbar {
    width: 10px;
    background: #18181b;
}
::-webkit-scrollbar-thumb {
    background: #1db954;
    border-radius: 8px;
    border: 2px solid #23232a;
}
::-webkit-scrollbar-thumb:hover {
    background: #1ed760;
}
::-webkit-scrollbar-corner {
    background: #18181b;
}
