@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-0 flex flex-col;
}

html,
body {
    @apply h-full w-full;
}

::-webkit-scrollbar {
    width: 10px;
    background: #18181b;
}
::-webkit-scrollbar-thumb {
    background: #1db954;
    border-radius: 8px;
    border: 2px solid #23232a;
}
::-webkit-scrollbar-thumb:hover {
    background: #1ed760;
}
::-webkit-scrollbar-corner {
    background: #18181b;
}

/* Hide number input spinners for all browsers */
.hide-number-spin::-webkit-outer-spin-button,
.hide-number-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hide-number-spin[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
